body {
    font-family: "Roboto", sans-serif;
}

main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;

    background-color: #282828;
    color: white;
}

button {
    padding: 20px 60px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: white;
    color: #222222;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;

    box-shadow: 5px 5px 0 0 black;

    &:hover {
        cursor: pointer;
        background-color: #222222;
        color: white;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    &:disabled {
        background-color: #a2a2a2;
        color: #b6b6b6;
        cursor: not-allowed;
    }
}

.bgLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

    h2 {
        text-transform: uppercase;
        font-size: 35px;
        margin: 0;
    }

    span {
        font-size: 60px;
        margin: 0 0 20px 0;
    }
}

.leftScoreContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    span {
        margin: 0;
    }
}

.bgMiddle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 50px;

    .playerTurnHeading {
        font-size: 35px;
    }
}

.bgRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

    h2 {
        text-transform: uppercase;
        font-size: 35px;
        margin: 0;
    }

    span {
        font-size: 60px;
        margin: 0 0 20px 0;
    }
}

.rightScoreContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    span {
        margin: 0;
    }
}

/* KEYFRAMES */

@keyframes flash {
    from {
        scale: 1;
    }
    to {
        scale: 1.3;
    }
}
